<h2>String interpolation</h2>
<h3>Hi! soy {{ name }}</h3>
<h3>{{ "Hi!".repeat(5) }}</h3>

<hr />
<h2>Binding</h2>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>

<hr />
<h2>Event Binding</h2>
<h3>Click</h3>
<button [disabled]="btnDisabled">hola</button>
<button (click)="btnToggle()">toggle disabled/noDisabled</button>
<button (click)="incrementAge()">Increment Age</button>
<h3>Scroll</h3>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti aliquam
    recusandae sit quaerat maxime cupiditate voluptate quae facere voluptatum
    corrupti ratione similique rem quam provident expedita, consequuntur fuga,
    suscipit accusantium. Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Deleniti aliquam recusandae sit quaerat maxime cupiditate voluptate
    quae facere voluptatum corrupti ratione similique rem quam provident
    expedita, consequuntur fuga, suscipit accusantium. Lorem ipsum dolor, sit
    amet consectetur adipisicing elit. Deleniti aliquam recusandae sit quaerat
    maxime cupiditate voluptate quae facere voluptatum corrupti ratione
    similique rem quam provident expedita, consequuntur fuga, suscipit
    accusantium. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Deleniti aliquam recusandae sit quaerat maxime cupiditate voluptate quae
    facere voluptatum corrupti ratione similique rem quam provident expedita,
    consequuntur fuga, suscipit accusantium. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. Deleniti aliquam recusandae sit quaerat maxime
    cupiditate voluptate quae facere voluptatum corrupti ratione similique rem
    quam provident expedita, consequuntur fuga, suscipit accusantium. Lorem
    ipsum dolor, sit amet consectetur adipisicing elit. Deleniti aliquam
    recusandae sit quaerat maxime cupiditate voluptate quae facere voluptatum
    corrupti ratione similique rem quam provident expedita, consequuntur fuga,
    suscipit accusantium. Lorem ipsum dolor, sit amet consectetur adipisicing
    elit. Deleniti aliquam recusandae sit quaerat maxime cupiditate voluptate
    quae facere voluptatum corrupti ratione similique rem quam provident
    expedita, consequuntur fuga, suscipit accusantium.
  </p>
</div>
<h3>input</h3>
<h4> {{person.name}} </h4>
<input type="text" (keyup)="viewInput($event)" >
<h3>ngModel</h3>
<h4>Nombre= {{person.name}} </h4>
<input type="text" [(ngModel)] ="person.name" >

